{% extends "base.html" %}
{% block content %}
<h2>Navegação</h2>
<p>Selecione um período e uma localização nos menus a seguir. Para o ano de {{previous_year}} estão disponívels estatísticas mensais, mas para os demais anos, apenas estatísticas anuais.</p>
<div id="date">
    <b>Período:</b>
    <select name="form-month" onchange="location = this.value;">
      {% for choice in month_options %}
          <option value="{{ url_for('dashboard', state_code=state_code, year=year, month=choice) }}" {% if month==choice %} selected="selected"{% endif %}>{{ get_month_name(choice).capitalize() }}</option>
      {% endfor %}
    </select>
    <select name="form-year" onchange="location = this.value;">
      {% for choice in available_years %}
          <option value="{{ url_for('dashboard', state_code=state_code, year=choice) }}" {% if year==choice %} selected="selected"{% endif %}>{{ choice }}</option>
      {% endfor %}
    </select>
</div>

<div id="location">    
    <b>Estado</b>
    <select name="form-state" onchange="location = this.value;">
      {% for choice in available_state_codes.index %}
          <option value="{{ url_for('dashboard', state_code=choice, year=year) }}" {% if state_code==choice %} selected="selected"{% endif %}>{{ available_state_codes['state'][choice] }}</option>
      {% endfor %}
    </select>    
</div>

{% if img_top_importers is not none and img_top_exporters is not none %}
<h2>Estatísticas nacionais</h2>
<p>Os dados a seguir se referem aos totais de importação e exportação no Brasil, ao longo de todo o ano:</p>

<h3>Importações</h3>
<img src={{ img_top_importers }} alt="Gráfico de barras dos maiores importadores" />

<h3>Exportações</h3>
<img src={{ img_top_exporters }} alt="Gráfico de barras dos maiores exportadores" />
{% endif %}

<h2>Estatísticas estaduais</h2>
<p>Os dados a seguir se referem às importações e exportações no estado, em {{ get_month_name(month)}} do ano de {{year}}:</p>

<h3>Importações</h3>
<img src={{ img_top_imports }} alt="Gráfico de barras dos produtos mais importados" />
{% if img_contribution_to_imports is not none %}
<img src={{ img_contribution_to_imports }} alt="Gráfico da contribuição do estado para o total de importações do país" />
{% endif %}
<h3>Exportações</h3>
<img src={{ img_top_exports }} alt="Gráfico de barras dos produtos mais exportados" />
{% if img_contribution_to_imports is not none %}
<img src={{ img_contribution_to_exports }} alt="Gráfico da contribuição do estado para o total de importações do país" />
{% endif %}

{% endblock %}